/* цвет основного текста #757575 */
/* белый #ffffff */
/* цвет дополнительного текста #212121 */
/* акцент #2196f3 */
/* цвет фона основной #e5e5e5 */
/* цвет фона вторичный #f5f4fa */

/* Универсальные селекторы */
.title {
  margin-bottom: 0;
  margin-top: 0;
}
.list {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;

  list-style: none;
}
.link {
  color: var(--secondary-color);

  text-decoration: none;
}
.text {
  margin-bottom: 0;
  margin-top: 0;
}
img {
  display: block;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

/* переменные */
:root {
  --primary-text-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --primary-bgc: #ffffff;
  --secondary-bgc: #f5f4fa;
}

/* inherit */
body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  background-color: var(--primary-bgc);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

/* logo */
.logo {
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-first {
  color: var(--accent-color);
}
.logo-second {
  color: #000000;
}

/* header */
.header-link,
.pagination-list {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-link-mail {
  margin-left: auto;
  margin-right: 50px;
}
.pagination-list-item:not(:last-child) {
  margin-right: 50px;
}
.pagination-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.border {
  border-bottom: 1px solid #ececec;
}

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #2f303a;
}
.main-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-bgc);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  margin-left: 485px;
  padding: 10px 32px;
  border: none;

  color: var(--primary-bgc);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  background-color: var(--accent-color);
}
/* Features */
.features {
  padding-top: 94px;
}
.features-list-title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-list-item {
  width: calc((100% - 3 * 30px) / 4);
}
.features-list-item:not(:last-child) {
  margin-right: 30px;
}

/* Projects */
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.projects-title,
.team-title {
  margin-bottom: 50px;

  color: var(--secondary-color);
  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.projects-list-item {
  width: calc((100% - 2 * 30px) / 3);
}
.projects-list-item:not(:last-child) {
  margin-right: 30px;
}

/* Team */
.team {
  padding-bottom: 94px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  background-color: var(--secondary-bgc);
}
.team-list-item {
  width: calc((100% - 3 * 30px) / 4);
  padding-bottom: 30px;

  background-color: var(--primary-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-list-title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
}

/* Footer */
.footer {
  background-color: #2f303a;
}
.adress,
.adress-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.adress {
  color: var(--primary-bgc);
  font-style: inherit;
}
.adress-link {
  color: rgba(255, 255, 255, 0.6);
}
/* ПОРТФОЛИО */
.gallery {
  font-size: 16px;
  line-height: 1.88;
}
.gallery-list-title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/* Buttons */
.gallery-btn {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;

  background-color: var(--secondary-bgc);
}
.gallery-btn:hover {
  color: var(--primary-bgc);

  background-color: var(--accent-color);
}
.btn {
  font-family: inherit;
}
.current a {
  color: var(--accent-color);
}

/* section * {
  outline: 1px solid tomato;
} */
